# Compiled class files
*.class

# Maven / Gradle dependencies
target/
build/
out/


# Logs & temp files
*.log
*.tmp

# JAR, WAR, and other binary outputs
*.jar
*.war
*.ear

# Gradle-specific files
.gradle/
